

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.show-box {
    border: 1px solid blue
}


body {
    background-color: #f2f2f2;
}

._section {
    background-color: #efe5ff;
    padding: 1rem;
}

._question-panel {
    background-color: #deeaf2;
    padding: 1rem;
    margin: 1rem;
    position: relative;
}

._question-text {
    width: 50%;
    display: inline;
}

._question-req {
    position: relative;
    background-color: antiquewhite;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    float: right;
}

._question-del {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.active-study {
    text-align: center;
    border: 1px solid lightgray;
    width:42rem;
    margin-left: auto;
    margin-right: auto;
}

.study-stage-0 {
    background-color: #deeaf2;
}

.study-stage-1 {
    background-color: lightgreen;
}

.study-stage-2 {
    background-color: lightpink;
}

.is-link {
    cursor: pointer;
}

.link-box {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.copy-btn {
    margin: 0
}