

@font-face {
    font-family: "Earth2073";
    src: url("/assets/Earth2073.ttf") format("truetype");
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.show-box {
    border: 1px solid blue;
    background-color: white;
}


body {
    background-color: ghostwhite;
}

._section {
    background-color: #efe5ff;
    padding: 1rem;
}

._question-panel {
    background-color: #deeaf2;
    padding: 1rem;
    margin: 1rem;
    position: relative;
}

._question-text {
    width: 50%;
    display: inline;
}

._question-req {
    position: relative;
    background-color: antiquewhite;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    float: right;
}

._question-del {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.active-exp {
    text-align: center;
    border: 1px solid lightgray;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.study-stage-0 {
    background-color: lightblue;
}

.study-stage-1 {
    background-color: lightpink;
}

.study-stage-2 {
    background-color: lightpink;
}

.is-link {
    cursor: pointer;
}

.link-box {
    width: fit-content;
    margin: 0;
    background-color: inherit;
    border: none
}

.copy-btn {
    margin: 0
}

.status-box {
    margin-bottom: 1rem;
}

.archive-item {
    text-align: center;
}

.current-studies-panel {
    background-color: #deeaf2;
}

.current-studies-list {
    border: none;
    box-shadow: none;
}

#main-view {
    background-color: lightgrey;
    height: 50rem;
}

#logo {
    font-family: "Earth2073";
    text-align: center;
    padding: 2rem;
    margin: 1rem 0 0;
    background-color: sandybrown;
    border-style: outset;
    border-radius: 1rem;
}

#main-div {

}

#user-info {
    background-color: lightgoldenrodyellow;
    padding: 0.8rem;
    width: fit-content;
    margin: 1rem 0 1rem auto;
    border-radius: 0.5rem;
}

#wait-for-load {
    padding-top: 2rem;
}

.exp-name {
    font-family: Earth2073;
}

#exp {
    width: fit-content;
    margin: 0 auto 1rem;
    padding: 1rem 4rem;
}

#exp h3 {
    margin: 0;
}

.bot-btns {
    width: fit-content;
    margin-left: auto;
}















