
Select Study:
<ul>
    <li
      ng-repeat="study in ctrl.studies">
        <span>
            <span ng-click="ctrl.selectStudy(study.id)">{{study.name}}</span>
            <span ng-click="ctrl.deleteStudy(study.id, study.name)" class="glyphicon glyphicon-trash"></span>
        </span>

    </li>
    <form ng-submit="ctrl.newStudy()">
        <input type="text" ng-model="ctrl.newStudyName" required="true"/>
        <button class="btn-success" ng-click="submit">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </form>
</ul>