<div>

    <div>Study Selected: {{ctrl.study.name}}</div>

    <ng-form name="build-form">
        List all subjects in the study
        <div ng-repeat="subject in ctrl.study.subjects">
            <input ng-model="subject.name"
                   ng-blur="ctrl.updateSubject(subject.id, subject.name, build-form)">
        </div>
        <input ng-model="ctrl.newSubject"
               ng-blur="ctrl.addSubject()">
        <div>List all questions to ask participants</div>
        <div ng-repeat="question in ctrl.study.questions">
            <input ng-model="question.name"
                   ng-blur="ctrl.updateQuestion(question.id, question.name, build-form)">
        </div>
        <input ng-model="ctrl.newQuestion"
               ng-blur="ctrl.addQuestion()">
    </ng-form>

    <div>
        <button ui-sref="select">Back</button>
        <button ng-click="ctrl.buildToMap1()">Continue</button>
    </div>
</div>