
<link data-require="bootstrap@*" data-semver="4.0.5" rel="stylesheet" href="third_party/bootstrap-nav-wizard.css" />

<div class="panel" id="exp">
    <h3>{{ctrl.experiment.name}}</h3>
    /join/{{ctrl.experiment.id}}
</div>



<ul class="nav nav-pills nav-fill" id="build-steps">
    <li ng-repeat="step in ctrl.steps" class="nav-item">
        <a class="nav-link {{step.disabled? 'disabled ':' '}} {{($index == ctrl.step)? 'active ':' '}} {{(ctrl.doneSteps[$index])? 'done ':' '}}" ng-click="ctrl.gotoStep($index)">{{step.name}}</a>
    </li>
</ul>
<hr>

<ui-view></ui-view>

<div class="bot-btns">
    <button ng-click="ctrl.gotoNextStep()">Continue</button>
</div>