


<ng-form name="buildForm">
    <div class="panel-group">
        <a ui-sref="name({ id: ctrl.experiment.id })">Change name of the study or monikers.</a>

        <p>Describe your study. This information will be shown to each participant when they first join your experiment. Leave blank to skip an intro.</p>
        <textarea cols=50 ng-model="ctrl.experiment.description"></textarea>

        <p>Conclusion text. This will be shown to participants when they have reviewed all {{ctrl.experiment.plural}}. Leave blank to omit this.</p>
        <textarea ng-model="ctrl.experiment.conclusion"></textarea>

        <div class="panel panel-default">
            <div class="panel-heading">Options</div>
            <div class="panel-body">

                <div class="checkbox" data-toggle="tooltip" title="Participants will not be able to overwrite their responses.">
                    <label>
                        <input id="lock-check" type="checkbox" ng-model="ctrl.study.lock_responses" ng-change="ctrl.togglecheck()">
                        Lock responses
                    </label>
                </div>

                <label for="alias-select">Aliases:</label>
                <select id="alias-select" ng-model="ctrl.aliasString">
                    <option value=0>Open</option>
                    <option value=1>Single Blind</option>
                    <option value=2>Double Blind</option>
                </select>

                <p>Open - Everyone knows the identity of each {{ctrl.experiment.moniker}}. This option will introduce significant bias into your tasting results.</p>
                <p>Single Blind - One person (likely the host) knows the identity of each {{ctrl.experiment.moniker}}.
                    Use this option if you are comfortable with a small amount of bias,
                    or if you have the assistance of a non-participant who can conceal the {{ctrl.experiment.plural}} for you.</p>
                <p>Double Blind - Nobody knows the identity of each {{ctrl.experiment.moniker}}.
                    This option will yield the most accurate results, and requires the most preparation.</p>


            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Preliminary questions - asked once per participant before they review any {{ctrl.experiment.plural}}</div>
            <div class="panel-body">

                <div class="input-group">
                    <input type="text" class="form-control"
                           id="newPreQuestion"
                           ng-model="ctrl.newPreQuestion"
                           ng-keyup="$event.keyCode == 13 && ctrl.addPreQuestion()"
                           placeholder="New Study Question...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-mouseup="ctrl.addPreQuestion()">Add Question</button>
                        </span>
                </div>

                <div class="panel _question-panel" ng-repeat="question in ctrl.experiment.preQuestions">
                    <input class="form-control _question-text" ng-model="question.text">
                    <div class="checkbox _question-req" data-toggle="tooltip" title="Require participants to provide a response to this question.">
                        <label>
                            <input type="checkbox" ng-model="question.required">
                            required
                        </label>
                    </div>
                    <div  class="_question-del" ng-click="ctrl.deleteQuestion(question, $index)">
                        <span class="glyphicon glyphicon-remove" ></span>
                    </div>
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Subject questions - Asked for each {{ctrl.experiment.moniker}}</div>
            <div class="panel-body">

                <div class="input-group">
                    <input type="text" class="form-control"
                           id="newQuestion"
                           ng-model="ctrl.newQuestion"
                           ng-keyup="$event.keyCode == 13 && ctrl.addQuestion()"
                           placeholder="New Subject Question...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-mouseup="ctrl.addQuestion()">Add Question</button>
                        </span>
                </div>

                <div class="panel _question-panel" ng-repeat="question in ctrl.experiment.questions">
                    <input class="form-control _question-text" ng-model="question.text">
                    <div class="checkbox _question-req" data-toggle="tooltip" title="Require participants to provide a response to this question.">
                        <label>
                            <input type="checkbox" ng-model="question.required">
                            required
                        </label>
                    </div>
                    <div  class="_question-del" ng-click="ctrl.deleteQuestion(question, $index)">
                        <span class="glyphicon glyphicon-remove" ></span>
                    </div>
                </div>

            </div>
        </div>

    </div>
