


<ng-form name="buildForm">
    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">Options</div>
            <div class="panel-body">

                <div class="checkbox" data-toggle="tooltip" title="When exporting results, usernames will be replaced by anonymous identites.">
                    <label>
                        <input type="checkbox" ng-model="ctrl.study.anon_participants">
                        Anonymize participants
                    </label>
                </div>

                <div class="checkbox" data-toggle="tooltip" title="Participants will not be able to overwrite their responses.">
                    <label>
                        <input type="checkbox" ng-model="ctrl.study.lock_responses">
                        Lock responses
                    </label>
                </div>

                <div class="form-group" data-toggle="tooltip" title="Number of times to alias the identity of each subject.">
                    <label>Aliases</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-value="0" ng-model="ctrl.study.aliases">
                            None - Everyone knows the identity of each subject
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-value="1" ng-model="ctrl.study.aliases">
                            Single Blind - Only you know the identity of each subject
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-value="2" ng-model="ctrl.study.aliases" aria-describedby="reqCoop">
                            Double Blind - Nobody knows the identity of each subject
                            <small id="reqCoop" class="form-text text-muted" style="display:block">
                                *requires cooperation with a participant
                            </small>
                        </label>
                    </div>
                </div>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Preliminary questions - asked once per participant before they review any subjects</div>
            <div class="panel-body">

                <div class="input-group">
                    <input type="text" class="form-control"
                           id="newPreQuestion"
                           ng-model="ctrl.newPreQuestion"
                           ng-keyup="$event.keyCode == 13 && ctrl.addPreQuestion()"
                           placeholder="New Study Question...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-mouseup="ctrl.addPreQuestion()">Add Question</button>
                        </span>
                </div>

                <div class="panel _question-panel" ng-repeat="question in ctrl.study.preQuestions">
                    <input class="form-control _question-text" ng-model="question.text">
                    <div class="checkbox _question-req" data-toggle="tooltip" title="Require participants to provide a response to this question.">
                        <label>
                            <input type="checkbox" ng-model="question.required">
                            required
                        </label>
                    </div>
                    <div  class="_question-del" ng-click="ctrl.deleteQuestion(question, $index)">
                        <span class="glyphicon glyphicon-remove" ></span>
                    </div>
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Subject questions - Asked for each subject</div>
            <div class="panel-body">

                <div class="input-group">
                    <input type="text" class="form-control"
                           id="newQuestion"
                           ng-model="ctrl.newQuestion"
                           ng-keyup="$event.keyCode == 13 && ctrl.addQuestion()"
                           placeholder="New Subject Question...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-mouseup="ctrl.addQuestion()">Add Question</button>
                        </span>
                </div>

                <div class="panel _question-panel" ng-repeat="question in ctrl.study.questions">
                    <input class="form-control _question-text" ng-model="question.text">
                    <div class="checkbox _question-req" data-toggle="tooltip" title="Require participants to provide a response to this question.">
                        <label>
                            <input type="checkbox" ng-model="question.required">
                            required
                        </label>
                    </div>
                    <div  class="_question-del" ng-click="ctrl.deleteQuestion(question, $index)">
                        <span class="glyphicon glyphicon-remove" ></span>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="bot-btns">
        <button ui-sref="select">Back</button>
        <button ng-click="ctrl.buildToMap1()">Continue</button>
    </div>