
<div>

    <div>Study Selected: {{ctrl.study.name}}</div>

    <h2 >First Map</h2>
    <div ng-show="!ctrl.blankScreen">
        <table  border="1px solid black" align="center">
            <tr>
                <td >Name</td>
                <td>First Alias</td>
            </tr>
            <tr ng-form="mapForm" ng-repeat="subject in ctrl.study.subjects">
                <td >{{subject.name}}</td>
                <td >
                    <input
                        ng-model="subject.map1"
                        ng-blur="ctrl.updateMapFromUI(subject, true, mapForm)"
                    />
                </td>
            </tr>
        </table>

        <button ng-click="ctrl.generateNumbers()">Numbers</button>
        <button ng-click="ctrl.generateLetters()">Letters</button>
    </div>
    <div ng-show="ctrl.blankScreen"
            style="background-color: antiquewhite; height: 300px;"
            align="center">
        <h1>No Peeking!</h1>
    </div>
    <button ng-click="ctrl.map1BackToBuild()">Back</button>
    <button ng-click="ctrl.map1ToBlind()">Continue</button>
</div>