
<form ng-submit="ctrl.newStudy()">
    <input type="text" ng-model="ctrl.newStudyName" required="true" placeholder="New Study.."/>
    <button class="btn-success" ng-click="submit">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</form>

Active Studies:
<div class="list-group">
    <div class="list-group-item panel study-stage-{{study.stage}}"  ng-repeat="study in ctrl.active">
            <span class="" ng-click="ctrl.selectStudy(study.id)">
                {{study.name}}
            </span>
        <a href="{{study.link}}">localhost:3000/#!/join={{study.id}}</a>
        <button ng-click="ctrl.copyLink(study.link)">Copy</button>
        <span style="float: right">
                <button class="btn btn-default"  ng-click="ctrl.joinStudy(study.id, study.name)">
                    Join
                </button>
                <button class="btn btn-default"  ng-click="ctrl.deleteStudy(study.id, study.name)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
    </div>
</div>


Archive:
<div class="list-group">
    <a class="list-group-item"  ng-repeat="study in ctrl.archive" ng-click="ctrl.selectStudy(study.id)">
        {{study.name}}
    </a>
</div>