
<form ng-submit="ctrl.newExperiment()">
    <input type="text" ng-model="ctrl.newExperimentName" required="true" placeholder="New Experiment.."/>
    <button class="btn-success" ng-click="submit">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</form>

Active Studies:
<div class="list-group">
    <div class="list-group-item panel experiment-stage-{{experiment.stage}}" ng-repeat="experiment in ctrl.active">
            <span class="" ng-click="ctrl.selectExperiment(experiment.id)">
                {{experiment.name}}
            </span>
        Status: {{experiment.stage? 'setup':'live'}}
        <a href="{{experiment.link}}">localhost:3000/#!/join={{experiment.id}}</a>
        <button ng-click="ctrl.copyLink(experiment.link)">Copy</button>
        <span style="float: right">
                <button class="btn btn-default" ng-click="ctrl.join(experiment.link)">
                    Join
                </button>
                <button class="btn btn-default"  ng-click="ctrl.deleteExperiment(experiment.id, experiment.name)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
    </div>
</div>


Archive:
<div class="list-group">
    <a class="list-group-item"  ng-repeat="experiment in ctrl.archive" ng-click="ctrl.selectExperiment(experiment.id)">
        {{experiment.name}}
    </a>
</div>